*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(159, 159, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    height: 50%;
    margin: 2vw 0;
}
button{
    border: none;
    background-color: rgb(102, 102, 255);
    color: white;
    font-size: 3vw;
    padding: 0.7vw 1vw;
    border-radius: 2vw;
    width: 25vw;
    justify-content: center;
}
.nav-button-active{
    background-color: rgb(200, 200, 255);
    color: rgb(89, 61, 253);
    font-weight: 600;
}
#reloj{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(89, 61, 253);
    border: solid 1vw rgb(7, 0, 58);
    border-radius: 5vw;
    padding: 1vw 3vw;
    margin-top: 2vw;
    color: aliceblue;
}
#hora{
    display: flex;
    text-align: center;
    font-size: 7vw;
    font-family: 'Quantico';
    height: 50%;
    align-items: center;
}
#fecha{
    font-size: 3vw;
    margin: 2vw 0;
    font-weight: 600;
}

@media (min-width: 426px){
    nav{
        flex-direction: row;
        width: 90%;
    }
    button{
        font-size: 2.95vw;
    }
}
@media (min-width: 769px){
    header{
        height: 247px;
    }
    nav{
        gap: 7.68px;
        height: 37.7px;
        margin: 15.36px 0;
    }
    button{
        font-size: 22px;
        padding: 7.5px 5.3px;
        border-radius: 15.3px;
        width: 167px;
    }
    #reloj{
        border-width: 7px;
        border-radius: 38px;
        padding: 7.5px 23px;
        margin-top: 15.3px;
    }
    #hora{
        font-size: 54px;
        height: 77px;
    }
    #fecha{
        font-size: 23px;
        margin: 15px 0;
    }
}