#recordatorios{
    background-color: rgb(76, 76, 169);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#addRecordatorio{
    box-sizing: border-box;
    display: flex;
    background-color: rgb(102, 102, 255);
    flex-direction: column;
    align-items: center;
    border: dashed white 2px;
    border-radius: 2vw;
    padding: 2vw 3vw;
    margin: 3vw;
    box-sizing: border-box;
    font-size: 3vw;
}
#addRecordatorio input{
    border: none;
    border-radius: 2vw;
    font-size: 3vw;
    margin: 2vw 0;
    width: 35vw;
    text-align: center;
}
#addRecordatorio button{
    border: none;
    background-color: rgb(200, 200, 255);
    color: rgb(76, 76, 169);
    font-size: 3vw;
    font-weight: 600;
    padding: 0.7vw 1vw;
    border-radius: 2vw;
    width: 25vw;
    justify-content: center;
}
#addRecordatorio label{
    color: white;
}
.separator{
    border-top: dashed white 2px;
    width: 80%;
}
#listaRecordatorios{
    background-color: rgb(76, 76, 169);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-registros{
    color: white;
    background-color: rgb(102, 102, 255);
    border: solid white 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}
.tarjeta-recordatorio{
    color: white;
    background-color: rgb(102, 102, 255);
    border: solid white 2px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

@media (min-width: 769px){
    #addRecordatorio input, #addRecordatorio button, #addRecordatorio{
        font-size: 23px;
    }
    #addRecordatorio button{
        width: 176.64px + (7.6 * 2);
        height: 52px + 10;
        padding: 7.68px 5.37px;
    }
}
@media (min-width: 1025px){
    #addRecordatorio{
        width: 362px + 60.7px;
        margin: 29.6px;
        padding: 29.6px 19.7px;
    }
    #addRecordatorio input{
        width: 25.997px + (7.168 *2);
        height: 26px;
        margin: 20.5px 0;
    }
    #addRecordatorio button{
        width: 255.9px;
        height: 39px;
    }
}