#recordatorios{
    background-color: rgb(76, 76, 169);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#addRecordatorio{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed white 2px;
    border-radius: 2vw;
    padding: 2vw 3vw;
    margin: 3vw;
    box-sizing: border-box;
}
#addRecordatorio input{
    border: none;
    border-radius: 2vw;
    margin: 2vw 0;
    width: 35vw;
    text-align: center;
}
#addRecordatorio button{
    border: none;
    background-color: rgb(102, 102, 255);
    color: white;
    font-size: 3vw;
    padding: 0.7vw 1vw;
    border-radius: 2vw;
    width: 25vw;
    justify-content: center;
}
#addRecordatorio label{
    color: white;
}
.separator{
    border-top: dashed white 2px;
    width: 80%;
}
#listaRecordatorios{
    background-color: rgb(76, 76, 169);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}